.container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    color: #173A23; /* Verde da Marca */
    margin-bottom: 20px;
    font-weight: 500;
}

.btn-novo {
    margin-bottom: 20px;
    background-color: #173A23 !important;
    color: white !important;
    width: 100%;
    max-width: 200px;
}

mat-form-field {
    width: 100%;
    font-size: 14px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow: hidden;
}

th.mat-header-cell {
    background-color: #173A23;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
}

.edit {
    color: #fbc02d;
    margin-right: 10px;
    cursor: pointer;
}

.delete {
    color: #D51320; /* Vermelho da Marca */
    cursor: pointer;
}

.edit:hover, .delete:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .container { padding: 10px; }
}