.container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box; /* Garante que o padding não estoure a tela */
}

h1 {
    font-size: 24px;
    color: #173A23; /* Verde da marca */
    margin-bottom: 20px;
    font-weight: 500;
}

.btn-novo {
    margin-bottom: 20px;
    background-color: #173A23 !important; /* Força o verde da marca */
    color: white !important;
    width: 100%; /* No celular fica full width */
    max-width: 200px; /* No PC fica contido */
}

/* Campo de Filtro */
mat-form-field {
    width: 100%;
    font-size: 14px;
}

/* Tabela */
table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px; /* Arredondar cantos da tabela */
    overflow: hidden;   /* Para o header arredondado funcionar */
}

/* Cabeçalho da Tabela */
th.mat-header-cell {
    background-color: #173A23;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
}

/* Ícones de Ação */
.edit {
    color: #fbc02d; /* Amarelo/Laranja para editar */
    margin-right: 10px;
    cursor: pointer;
}

.delete {
    color: #D51320; /* Vermelho da marca para deletar */
    cursor: pointer;
}

.edit:hover, .delete:hover {
    opacity: 0.7;
}

/* Responsividade Básica */
@media (max-width: 600px) {
    .container { padding: 10px; }
}